@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color:  #51BFA6;
  --primary-hover-color: #42A992;
  --dark-color: #263238;
  --secondary-color: #F19913;
  --secondary-hover-color: #DA8709;
  --light-color: #F5F5F5;
}

html, body {
  margin: 0;
  padding:0;
}

* {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}